.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 45px;
}
.input{
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    &::placeholder{
        color: gray;
    }
  
}
.btn{
    border-radius: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    cursor: pointer;
    background: #3F72AF url("./img/plus.svg") no-repeat center center;
    
}